.select_month {
    margin-bottom: 60px;
}

.days_name {
    max-height: 40px;
}

.day_card {
    border: 2px solid rgb(12, 89, 233);
    height: 100%;
}

.empty_card {
    height: 100%;
    background-color: rgba(124, 123, 123, 0.527);
}

.item_on_card {
    border: 1px solid;
    padding: 8px;
    border-radius: 4px;
    cursor: grab;
}