.mainBox {
    // padding-top: 80px;
    padding-bottom: 63px;
    position: relative;
}

.title{
    font-family: RobotoSlab;
    font-weight: 600;
    font-size: 30px;
    padding-top: 70px;
}



.card_list {
    display: flex;
    flex-wrap: wrap;
}

.board {
    max-width: 14%;
    width: 14%;
    height: 180px;
    border: 2px solid lightgray;
    padding: 6px;
    border-radius: 12px;
    margin: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.board_title {
    font-size: 14px;
    font-weight: 700;
}

.item {
    width: 100%;
    border: 1px solid lightpink;
    padding: 2px;
    border-radius: 2px;
    margin: 2px 0;
    cursor: grab;
    background-color: #fcfcf9;
}

.card {
    width: 200px;
    height: 300px;
    border-radius: 12px;
    border: 5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    cursor: grab;
}